 .u-section-1 {
  background-image: url("images/pexels-photo-5117917.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 51px 721px 0 38px;
}

.u-section-1 .u-group-1 {
  width: 792px;
  min-height: 469px;
  height: auto;
  margin: 348px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 240px 0 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  border-style: none;
  font-weight: 700;
  margin: 61px auto 0 107px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 560px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 250px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 226px;
    margin-right: 160px;
    font-size: 1rem;
  }

  .u-section-1 .u-group-1 {
    margin-top: 291px;
    margin-bottom: -538px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 189px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 266px;
    margin-bottom: -675px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 0;
  }
}